$primary-color: #ab2f26;

body {
    font-family: Aleo, sans-serif; 
}


.pg-main {
    text-align: center;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: $primary-color;
}


.body-container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative; 
    transform: translateY(60px);
}

/***********
* FOOTER
**********/
.join-the-club {
    background-color: $primary-color; 
    display: block;
    color: white;  
    text-align: center; 
    height: auto; 
    padding: 2%; 
}

.signup-btn {
    padding: 2%;
    color: $primary-color; 
    text-transform: uppercase;
    text-align: center;
    border-radius: 5%; 
    background-color: white; 
    width: 50%; 
}
.bottom-footer {
    width: 80%; 
    padding: 5%;
    margin: 0 auto;
    text-align: center; 
    .footer-logos {
        width: 80%; 
        font-size: 14px; 
        margin: 0 auto; 
    }
}
.footer-logo {
    width: 12%;
    height: auto;
    padding: 0 5px; 
}
.footer-nav {
    width: 100%;
    display: block; 


}
.footer-nav-section {
    ::not(:nth-child(3)) {
        border-right: 1px solid #ab2f26;
    }
    float: left; 
    text-align: left; 
    width: 95%; 
    padding: 2%;
    ul {
        list-style: none;
        li {
            display: list-item; 
            height: 30px;
        }
    }
    a {
        color: $primary-color; 
        font-size: 13px; 
        line-height: 1.4; 
    }
}

/*************
* HEADER
*************/

.nav-container {
    display: flex;
    justify-content: space-around; 
    padding: 2px; 
    border-bottom: 4px solid $primary-color; 
    position: fixed;
    background-color: white;
    z-index: 50;
    width: 100%;
    max-height: 60px; 
}
.navlist-main {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    div {
        position: relative;
    }
}
.navlink-main {
    text-transform: uppercase;
    align-self: center; 
    padding: 1% 2%;
    border-right: 1px solid $primary-color;
    text-align: center;
    margin: 0 auto; 
    color: $primary-color;
    font-size: smaller;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400; 
    cursor: pointer;
    :hover {
        font-weight: bold; 
    }
}

#nm-products-after {
    content: ' '; 
    width: 800px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 70px;
    left: 0;
    ::after {
        content: 'fucking random';
        background-color: green; 
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent; 
        border-bottom: 5px solid black;
        z-index: 10000;
    }
}

.where-to-buy {
    color: maroon;
    border-radius: 25%; 
    border: 1px solid $primary-color; 
    font-size: smaller;
    padding: 1%; 
}
.social-links-main {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    img {
        width: 60%; 
    }
}

#main-carousel {
    // position: absolute;
    // top: 60px
}

/***************
** FILTER BAR
***************/
.filter-bar {
    width: 100%;
    padding: 2%;
    display: flex; 
    justify-content: space-evenly;
    color: $primary-color;
    border: 1px solid $primary-color;
    margin-bottom: 2%;
    font-weight: 400; 
}

.dropdown-box {
    width: 20%;
}
.label-bar {
    background-color: $primary-color;
    color: white;
    text-transform: uppercase;
    padding: 1%;
    font-weight: bolder;
    font-size: larger; 
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    padding: 5%;
    cursor: pointer;
}
.label-option {
    display: flex;
    justify-content: space-between; 
    padding: 3%; 
}

.filter-options {
    display: flex;
    flex-direction: column; 
    padding: 4%;
    border: 1px solid $primary-color;
}

.cb-option {
    border: 1px solid $primary-color;
}
.done-btn {
    background-color: $primary-color;
    color: white;
    text-transform: uppercase;
    padding: 1%;
    font-weight: bolder;
    font-size: larger; 
    width: 70%; 
    text-align: center;
    margin: 0 auto; 
    cursor: pointer;
}


/***************
** MEDIA QUERIES
***********/

@media only screen and (max-width: 767px) {
    .hidden-xs {
        display: none!important; 
    }
    .col-xs-6 {
        width: 50%;
    }
    .footer-logos a:nth-child(1) {
        display: block; 
    }
    .footer-nav-section {
        border-right: none!important; 
    }
}

@media only screen and (min-width: 768px) {
    .hidden-sm {
        display: none!important; 
    }
    .visible-xs {
        display: none!important; 
    }
    .col-sm-4 {
        width: 33.3%; 
    }
    .bottom-footer {
        width: 75%; 
    }
}

@media only screen and (min-width: 992px) {
    .join-the-club {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-column-gap: 2px; 
    }
}

@media only screen and (min-width: 1050px) {
    .bottom-footer {
        width: 60%; 
    }
    .join-the-club:last-child {
        display: flex;
        flex-direction: column; 
    }
}